.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
 display: flex;
 padding: 10px;
 align-items: center;
 font-family : 'Montserrat';
}
.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
}
.nav .logo {
 font-weight : 800;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : black;
 color : white;
 border : none;
}
input {
 display : block;
}

.detail {
  text-align : center;
}
.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}












/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#splash-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-content {
  padding: 20px;
}
